{% load static %}

<nav class="navbar navbar-vertical navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">Страницы
                    </p>
                    <hr class="navbar-vertical-line" />
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a class="nav-link label-1" href="" role="button"
                        data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                    data-feather="home"></span></span><span
                                class="nav-link-text-wrapper"><span class="nav-link-text">ГЛАВНАЯ</span></span>
                        </div>
                    </a>
                    </div>
                    <!-- parent pages-->
                    <p class="navbar-vertical-label">Станции
                    </p>
                    <hr class="navbar-vertical-line" />
                    {% for item in plants %} 
                            <li class="nav-item"><a class="nav-link" href="">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-text">{{ item.plant.name }}</span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                    </div>
                    <!-- parent pages-->
                    <!-- <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                            href="#nv-project-management" role="button" data-bs-toggle="collapse" aria-expanded="false"
                            aria-controls="nv-project-management">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon-wrapper"><span
                                        class="fas fa-caret-right dropdown-indicator-icon"></span></div><span
                                    class="nav-link-icon"><span data-feather="clipboard"></span></span><span
                                    class="nav-link-text">ЭКЗАМЕНЫ</span>
                            </div>
                        </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                id="nv-project-management">
                                <li class="collapsed-nav-item-title d-none">Project management
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Create
                                                new</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Project list
                                                view</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Project card
                                                view</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Project board
                                                view</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Todo
                                                list</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Project
                                                details</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>                     -->
                    <!-- parent pages-->
                    <!-- <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-email"
                            role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon-wrapper"><span
                                        class="fas fa-caret-right dropdown-indicator-icon"></span></div><span
                                    class="nav-link-icon"><span data-feather="mail"></span></span><span
                                    class="nav-link-text">Инструкции</span>
                            </div>
                        </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-email">
                                <li class="collapsed-nav-item-title d-none">Инструкции
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Inbox</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Email
                                                detail</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">
                                        <div class="d-flex align-items-center"><span
                                                class="nav-link-text">Compose</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- parent pages-->
                    <!-- <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-events"
                            role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon-wrapper"><span
                                        class="fas fa-caret-right dropdown-indicator-icon"></span></div><span
                                    class="nav-link-icon"><span data-feather="bookmark"></span></span><span
                                    class="nav-link-text">Отчеты</span>
                            </div>
                        </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-events">
                                <li class="collapsed-nav-item-title d-none">Events
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Create an
                                                event</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="">
                                        <div class="d-flex align-items-center"><span class="nav-link-text">Event
                                                detail</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- parent pages-->
                    <!-- <div class="nav-item-wrapper"><a class="nav-link label-1" href="" role="button"
                            data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                        data-feather="calendar"></span></span><span class="nav-link-text-wrapper"><span
                                        class="nav-link-text">Календарь</span></span>
                            </div>
                        </a>
                    </div> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-vertical-footer">
        <button
            class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span
                class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span
                class="navbar-vertical-footer-text ms-2">Свернуть</span></button>
    </div>
</nav>
<nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
    <div class="collapse navbar-collapse justify-content-between">
        <div class="navbar-logo">

            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
                aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span
                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center"><!--<img src="../assets/img/icons/logo.png" alt="phoenix"
                            width="27" />-->
                        <h5 class="logo-text ms-2 d-none d-sm-block">СНТБ</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="search-box navbar-top-search-box d-none d-lg-block" data-list='{"valueNames":["title"]}'
            style="width:25rem;">
            <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input fuzzy-search rounded-pill form-control-sm" type="search"
                    placeholder="Поиск..." aria-label="Поиск" id="search-box" />
                <span class="fas fa-search search-box-icon"></span>
            </form>
            
            <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100" id="search-dropdown">
                <div class="scrollbar-overlay" style="max-height: 30rem;">
                    <div class="list pb-3" id="search-results"></div>
                    <div class="text-center">
                        <p class="fallback fw-bold fs-7 d-none">Ничего не найдено.</p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="navbar-nav navbar-nav-icons flex-row">
            <li class="nav-item">
                <div class="theme-control-toggle fa-icon-wait px-2">
                    <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox"
                        data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle"
                        data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Сменить тему"
                        style="height:32px;width:32px;"><span class="icon" data-feather="moon"></span></label>
                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle"
                        data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Сменить тему"
                        style="height:32px;width:32px;"><span class="icon" data-feather="sun"></span></label>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdownNindeDots" href="#" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" data-bs-auto-close="outside" aria-expanded="false">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
                        <circle cx="2" cy="8" r="2" fill="currentColor"></circle>
                        <circle cx="2" cy="14" r="2" fill="currentColor"></circle>
                        <circle cx="8" cy="8" r="2" fill="currentColor"></circle>
                        <circle cx="8" cy="14" r="2" fill="currentColor"></circle>
                        <circle cx="14" cy="8" r="2" fill="currentColor"></circle>
                        <circle cx="14" cy="14" r="2" fill="currentColor"></circle>
                        <circle cx="8" cy="2" r="2" fill="currentColor"></circle>
                        <circle cx="14" cy="2" r="2" fill="currentColor"></circle>
                    </svg></a>

                <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-nine-dots shadow border"
                    aria-labelledby="navbarDropdownNindeDots">
                    <div class="card bg-body-emphasis position-relative border-0">
                        <div class="card-body pt-3 px-3 pb-0 overflow-auto scrollbar" style="height: 20rem;">
                            <div class="row text-center align-items-center gx-0 gy-0">
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/behance.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Behance</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/google-cloud.webp" alt=""
                                            width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Cloud</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/slack.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Slack</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/gitlab.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Gitlab</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/bitbucket.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">BitBucket</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/google-drive.webp" alt=""
                                            width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Drive</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/trello.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Trello</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/figma.webp" alt="" width="20" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Figma</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/twitter.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Twitter</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/pinterest.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Pinterest</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/ln.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Linkedin</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/google-maps.webp" alt=""
                                            width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Maps</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/google-photos.webp" alt=""
                                            width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Photos</p>
                                    </a></div>
                                <div class="col-4"><a
                                        class="d-block bg-body-secondary-hover p-2 rounded-3 text-center text-decoration-none mb-3"
                                        href="#!"><img src="../assets/img/nav-icons/spotify.webp" alt="" width="30" />
                                        <p class="mb-0 text-body-emphasis text-truncate fs-10 mt-1 pt-1">Spotify</p>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button"
                   data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-l">
                        <img class="rounded-circle" src="{% static '/assets/img/team/40x40/avatar.webp' %}" alt="" />
                    </div>
                </a>
                {% if user.is_authenticated %}
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
                     aria-labelledby="navbarDropdownUser">
                    <div class="card position-relative border-0">
                        <div class="card-body p-0">
                            <div class="text-center pt-4 pb-3">
                                <div class="avatar avatar-xl">
                                    <img class="rounded-circle" src="{% static '/assets/img/team/72x72/avatar.webp' %}" alt="" />
                                </div>
                                {% with user.userprofile.employee as account %}
                                    <h6 class="mt-2 text-body-emphasis">
                                        {{ account.first_name }} {{ account.last_name }}
                                    </h6>
                                {% endwith %}
                            </div>
                            <div class="mb-3 mx-3">
                                <input class="form-control form-control-sm" id="statusUpdateInput" type="text" placeholder="Поиск" />
                            </div>
                        </div>
                        <div class="overflow-auto scrollbar" style="height: 5rem;">
                            <ul class="nav d-flex flex-column mb-2 pb-1">
                                <li class="nav-item">
                                    <a class="nav-link px-3 d-block" href="#!">
                                        <span class="me-2 text-body align-bottom" data-feather="user"></span>
                                        <span>Профиль</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 d-block" href="#!">
                                        <span class="me-2 text-body align-bottom" data-feather="lock"></span>
                                        Безопасность
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer p-0 border-top border-translucent">
                            <ul class="nav d-flex flex-column my-3">
                                <li class="nav-item">
                                    <a class="nav-link px-3 d-block" href="#!">
                                        <span class="me-2 text-body align-bottom" data-feather="user-plus"></span>
                                        Добавить пользователя
                                    </a>
                                </li>
                            </ul>
                            <hr />
                            <div class="px-3 pb-2">
                                <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="">
                                    <span class="me-2" data-feather="log-out"></span>Выйти
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>