<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y">
  <div class="row">
    <div class="col-12 col-xl-7 col-xxl-6">
      <div class="row g-3 mb-3">
        <div class="col-12 col-md-6">
          <h3 class="text-body-emphasis text-nowrap">Issues Discovered</h3>
          <p class="text-body-tertiary mb-md-7">Newly found and yet to be solved</p>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 fw-bold">Issue type </p>
            <p class="mb-0 fs-9">Total count <span class="fw-bold">257</span></p>
          </div>
          <hr class="bg-body-secondary mb-2 mt-2">
          <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-info-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Product design</p>
            <h5 class="mb-0 text-body">78</h5>
          </div>
          <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-warning-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Development</p>
            <h5 class="mb-0 text-body">63</h5>
          </div>
          <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-danger-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">QA &amp; Testing</p>
            <h5 class="mb-0 text-body">56</h5>
          </div>
          <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-success-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Customer queries</p>
            <h5 class="mb-0 text-body">36</h5>
          </div>
          <div class="d-flex align-items-center"><span class="d-inline-block bg-primary bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">R &amp; D</p>
            <h5 class="mb-0 text-body">24</h5>
          </div>
          <button class="btn btn-outline-primary mt-5">See Details<svg class="svg-inline--fa fa-angle-right ms-2 fs-10 text-center" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <span class="fas fa-angle-right ms-2 fs-10 text-center"></span> Font Awesome fontawesome.com --></button>
        </div>
        <div class="col-12 col-md-6">
          <div class="position-relative mb-sm-4 mb-xl-0">
            <div class="echart-issue-chart" style="min-height: 390px; width: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" _echarts_instance_="ec_1738754766527"><div style="position: relative; width: 453px; height: 390px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="453" height="390" style="position: absolute; left: 0px; top: 0px; width: 453px; height: 390px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-5 col-xxl-6">
      <h3>Project: eleven Progress</h3>
      <p class="text-body-tertiary mb-0 mb-xl-3">Deadline &amp; progress</p>
      <div class="echart-zero-burnout-chart" style="min-height: 320px; width: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" _echarts_instance_="ec_1738754766526"><div style="position: relative; width: 922px; height: 320px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="922" height="320" style="position: absolute; left: 0px; top: 0px; width: 922px; height: 320px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
    </div>
  </div>
</div>