{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ survey.title }}</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container" id="thanks" >
        <strong><h1 style="color:rgb(0, 0, 0);">Страница не найдена!</h1></strong>
        
    </div>
</body>
<script>
    // Function to toggle visibility of comment field (if needed)
    function toggleCommentField(show, questionId) {
        const commentField = document.getElementById(`comment_${questionId}`);
        if (show) {
            commentField.classList.remove('hidden');
        } else {
            commentField.classList.add('hidden');
        }
    }
</script>
</html>
