{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row vh-100 g-0">
    <div class="col-lg-12 position-relative d-none d-lg-block">
      
      <div class="booking-hero-header d-flex">
        <div class="bg-holder bg-holder overlay bg-opacity-25" style="background-image:url(../../../assets/video/travel.png);">
          <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
            <source src="../../../assets/video/travel.mp4" type="video/mp4" />
          </video>
        </div>
        <!--/.bg-holder-->
        <div class="container-medium position-relative z-5">
          <h2 class="text-secondary-lighter fs-5 fs-md-3 fw-normal mb-3"></h2>
          <h1 class="fs-4 fs-md-1 text-white fw-normal mb-6 overflow-hidden"></h1>
          <div class="row gx-0 gy-3 gy-md-0 align-items-center mx-auto p-3 bg-body-emphasis rounded-5 rounded-md-pill position-relative border w-lg-75">
            <div class="col-12 col-md">
              <div class="form-icon-container border-bottom border-bottom-md-0 border-translucent pb-3 pb-md-0">
                <input class="form-control form-icon-input border-0 py-0 shadow-none fs-8" type="text" placeholder="Pick a place"> <!-- <span class="fa-solid fa-map-marker-alt form-icon text-body-tertiary top-0" data-fa-transform="down-2"></span> Font Awesome fontawesome.com -->
              </div>
            </div>
            <div class="col-6 col-md">
              <div class="form-icon-container flatpickr-input-container">
                <input class="form-control datetimepicker form-icon-input border-y-0 border-start-0 border-start-md py-0 shadow-none border-translucent fs-8 rounded-0 flatpickr-input" type="text" placeholder="Pick a date" data-options="{&quot;mode&quot;:&quot;range&quot;,&quot;dateFormat&quot;:&quot;d/m/y&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">  <!-- <span class="fa-solid fa-calendar form-icon top-0 text-body-tertiary" data-fa-transform="down-2"></span> Font Awesome fontawesome.com -->
              </div>
            </div>
            <div class="col-6 col-md">
              <button class="btn px-3 fs-8 fw-semibold text-body-tertiary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">  <!-- <span class="fa-solid fa-user me-2"></span> Font Awesome fontawesome.com -->1 adult</button>
              <div class="dropdown-menu dropdown-menu-start p-4" style="max-width: 320px">
                <div class="row align-items-center g-0 pb-3 border-bottom border-translucent">
                  <div class="col-5">
                    <h5 class="mb-0 text-body">Adults</h5>
                  </div>
                  <div class="col-7">
                    <div class="input-group gap-2" data-quantity="data-quantity">
                      <button class="btn btn-phoenix-primary px-2 rounded" data-type="minus"><svg class="svg-inline--fa fa-minus px-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path></svg><!-- <span class="fa-solid fa-minus px-1"></span> Font Awesome fontawesome.com --></button>
                      <input class="form-control border-translucent input-spin-none text-center rounded" id="adults" type="number" value="2">
                      <button class="btn btn-phoenix-primary px-2 rounded" data-type="plus"><svg class="svg-inline--fa fa-plus px-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg><!-- <span class="fa-solid fa-plus px-1"></span> Font Awesome fontawesome.com --></button>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center g-0 py-3 border-bottom border-translucent">
                  <div class="col-5">
                    <h5 class="mb-0 text-body">Infants</h5>
                  </div>
                  <div class="col-7">
                    <div class="input-group gap-2" data-quantity="data-quantity">
                      <button class="btn btn-phoenix-primary px-2 rounded" data-type="minus"><svg class="svg-inline--fa fa-minus px-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path></svg><!-- <span class="fa-solid fa-minus px-1"></span> Font Awesome fontawesome.com --></button>
                      <input class="form-control border-translucent input-spin-none text-center rounded" id="infants" type="number" value="2">
                      <button class="btn btn-phoenix-primary px-2 rounded" data-type="plus"><svg class="svg-inline--fa fa-plus px-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg><!-- <span class="fa-solid fa-plus px-1"></span> Font Awesome fontawesome.com --></button>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center g-0 pt-3">
                  <div class="col-5">
                    <h5 class="mb-0 text-body">Children</h5>
                  </div>
                  <div class="col-7">
                    <div class="input-group gap-2" data-quantity="data-quantity">
                      <button class="btn btn-phoenix-primary px-2 rounded" data-type="minus"><svg class="svg-inline--fa fa-minus px-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path></svg><!-- <span class="fa-solid fa-minus px-1"></span> Font Awesome fontawesome.com --></button>
                      <input class="form-control border-translucent input-spin-none text-center rounded" id="children" type="number" value="2">
                      <button class="btn btn-phoenix-primary px-2 rounded" data-type="plus"><svg class="svg-inline--fa fa-plus px-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg><!-- <span class="fa-solid fa-plus px-1"></span> Font Awesome fontawesome.com --></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-auto">
              <button class="btn btn-lg btn-phoenix-success rounded-pill w-100">Начать тест</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}