{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ survey.title }}</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h1>{{ survey.title }}</h1>
    <p>{{ survey.description }}</p>
    <form method="post" id="survey-form">
        {% csrf_token %}
        {% for question in survey.questions.all %}
            <div class="question">
                <p><strong>{{ question.text }}</strong></p>
                
                {% if question.question_type == 'combo' %}
                    {% for choice in question.choices.all %}
                    <div class="form-group">
                        <input type="radio" 
                            id="choice_{{ question.id }}_{{ choice.id }}" 
                            name="question_{{ question.id }}" 
                            value="{{ choice.id }}" 
                            onclick="toggleCommentField({{ question.id }}, {{ choice.id }}, {{ choice.requires_comment|yesno:'true,false' }})" 
                            class="form-check-input">
                        <label for="choice_{{ question.id }}_{{ choice.id }}" class="form-check-label">
                            {{ choice.text }}
                        </label>
                    </div>
                    {% if choice.requires_comment %}
                    <!-- Dynamically display comment field for specific choice -->
                    <div class="form-group hidden" id="comment-group-{{ question.id }}-{{ choice.id }}">
                        <textarea 
                            id="comment_{{ question.id }}_{{ choice.id }}" 
                            name="comment_{{ question.id }}_{{ choice.id }}" 
                            class="form-control" 
                            style="height: 100px; width: 100%; resize: vertical;"
                            placeholder="{{ choice.description }}" rows="5"></textarea>
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                {% elif question.question_type == 'text' %}
                    <!-- Текстовый вопрос -->
                    <div class="form-group">
                        <input name="question_{{ question.id }}" placeholder="Введите ваш ответ" class="form-control">
                    </div>
                {% elif question.question_type == 'textarea' %}
                    <!-- Текстовый вопрос -->
                    <div class="form-group">
                        <textarea name="question_{{ question.id }}" placeholder="Введите ваш ответ" class="form-control" style="height: 100px; width: 100%; resize: vertical;"></textarea>
                    </div>
                {% elif question.question_type == 'radio' %}
                    <!-- Вопрос с одним вариантом ответа -->
                    {% for choice in question.choices.all %}
                    <div class="form-group">
                        <input type="radio" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}" class="form-check-input">
                        <label for="choice_{{ choice.id }}" class="form-check-label">{{ choice.text }}</label><br>
                    </div>
                    {% endfor %}
                
                {% elif question.question_type == 'checkbox' %}
                    <!-- Вопрос с множественным выбором -->
                    {% for choice in question.choices.all %}
                    <div class="form-group">
                        <input type="checkbox" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}" class="form-check-input">
                        <label for="choice_{{ choice.id }}" class="form-check-label">{{ choice.text }}</label><br>
                    </div>
                    {% endfor %}
                
                {% elif question.question_type == 'select' %}
                    <!-- Выпадающий список -->
                    <div class="form-group">
                        <select name="question_{{ question.id }}" class="form-control">
                            <option disabled selected value>Выберите из списка</option>
                            {% for choice in question.choices.all %}
                                <option value="{{ choice.id }}">{{ choice.text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
        <button type="submit">Отправить</button>
    </form>

    
    </div>
</body>
<script>
    function toggleCommentField(show, questionId) {
        const commentField = document.getElementById(`comment_${questionId}`);
        if (show) {
            commentField.classList.remove('hidden');
        } else {
            commentField.classList.add('hidden');
        }
    }
</script>
</html>
